# Stock Comparison Tool

Trying to implement something similar to https://www.barchart.com/myBarchart/quotes/SPY/interactive-chart but in ~~Gradio~~ Plotly + Dash.

The actual app is run by Gunicorn via the `app.py` script. This notebook is used for interactive development and testing.

In [ ]:
from src.dash_app import NormalizedAssetPricesApp

if __name__ == "__main__":
    app = NormalizedAssetPricesApp()
    app.run(host="0.0.0.0", port=8050, debug=True)

Selected tickers: AAPL, GOOGL, MSFT
Selected tickers: AAPL, GOOGL, MSFT

In [2]:
app.prices

Ticker             AAPL      GOOGL         MSFT
Date
1980-12-12     1.000000   1.000000     1.000000
1980-12-15     0.947829   1.000000     1.000000
1980-12-16     0.878261   1.000000     1.000000
1980-12-17     0.899998   1.000000     1.000000
1980-12-18     0.926092   1.000000     1.000000
...                 ...        ...          ...
2025-02-14  1905.756378  73.767102  4201.003797
2025-02-18  1904.743469  73.185666  4213.449766
2025-02-19  1907.859948  73.783035  4266.215337
2025-02-20  1915.339666  73.500278  4280.204103
2025-02-21  1913.158106  71.548875  4198.740922

[11139 rows x 3 columns]